.content-wrapper,
.main-section {
  display: flex;
  position: relative;
}
.content-wrapper,
.main-section,
.up {
  position: relative;
}
body {
  margin: 0;
  padding: 0;
  background-color: #f5f5f5;
  font-family: "Sharp Sans", sans-serif;
}
.main-section {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.img-fondo {
  background-image: url("../img/codigo-fondo.webp");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 80px 50px;
  border-radius: 30px;
}
.main-title {
  text-align: center;
  font-size: 60px;
  padding: 10px;
  font-family: YaroSt-Black, sans-serif;
  color: #1f2937;
  z-index: 1;
}
.profile-picture {
  border-radius: 15px;
  width: 240px;
  height: 240px;
  object-fit: cover;
}
.content-wrapper {
  background-color: #fff;
  border-radius: 15px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
  padding: 30px;
  max-width: 1500px;
  gap: 20px;
  align-items: center;
  z-index: 2;
}
.description-text {
  color: #1f2937;
  font-size: 20px;
  line-height: 1.8;
  padding-left: 30px;
  padding-right: 30px;
  text-align: left;
}
.highlight,
.text-highlight {
  color: #7c3aed;
  font-weight: 700;
}
.section-title,
.title {
  font-size: 2.5rem;
  color: #1f2937;
  margin-bottom: 20px;
  border-bottom: 4px solid #7c3aed;
  font-family: "Sharp Sans Extrabold", sans-serif;
}
.section-title {
  display: inline-block;
}
.section-one {
  background: linear-gradient(to bottom, #f5f3ff, #e6e0f8, #e7e1f8);
  padding: 20px;
}
.section-two {
  background: linear-gradient(to top, #e6d6ff, #e7e1f8);
  padding: 2rem 20px 120px;
}
.section-three {
  background-color: #000c20;
  padding: 20px;
}
.see-boton {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  margin-left: 30px;
  display: inline-block;
}
.container {
  background-color: #fff;
  padding: 30px;
  max-width: 1600px;
  margin: 0 auto;
  box-shadow: 0 4px 6px rgba(247, 241, 241, 0.1);
  box-sizing: border-box;
  border-radius: 40px;
}
.descripcion,
.descripcion-pro,
.subtitulo,
.tec {
  margin-bottom: 10px;
}
.content {
  display: flex;
  align-items: center;
  gap: 20px;
}
.profile-img {
  width: 400px;
  height: 500px;
  border-radius: 10px;
  border: 2px solid #e5e7eb;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.card,
.icono {
  box-shadow: 0 4px 15px #5a2a9e;
}
.text {
  flex: 1;
  color: #212519;
  font-size: 24px;
  line-height: 1.6;
  padding: 30px;
  text-align: left;
}
.tec {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  color: #5a2a9e;
}
.subtitulo {
  font-family: "Sharp Sans Extrabold", sans-serif;
}
.descripcion {
  text-align: left;
  font-size: 22px;
}
.descripcion-pro {
  text-align: left;
  font-size: 20px;
}
::-webkit-scrollbar {
  width: 15px;
}
::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb {
  background-color: #7c3aed;
  border-radius: 10px;
  border: 3px solid #f1f1f1;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #5a2a9e;
}
.botones-alineacion {
  display: block;
  align-items: center;
  text-align: center;
  margin: auto;
  font-size: 25px;
}
.icono,
.tecnologias {
  align-items: center;
  gap: 5px;
}
.icono {
  display: inline-flex;
  border-radius: 32px;
  margin: 20px;
  padding: 12px;
  transition: 0.3s;
  border: none;
  font-family: "Sharp Sans Extrabold", sans-serif;
  font-size: 24px;
}
.fa-java-ico:hover {
  background-color: #e07e66;
  color: #fff;
  box-shadow: 0 0 15px #e07e66, 0 0 45px #e07e66, 0 0 75px #e07e66,
    0 0 115px #e07e66;
}
.fa-php-ico:hover {
  background-color: #8a2be2;
  color: #fff;
  box-shadow: 0 0 15px #8a2be2, 0 0 45px #8a2be2, 0 0 75px #8a2be2,
    0 0 115px #8a2be2;
}
.fa-laravel-ico:hover {
  background-color: #fd4f3c;
  color: #fff;
  box-shadow: 0 0 15px #fd4f3c, 0 0 45px #fd4f3c, 0 0 75px #fd4f3c,
    0 0 115px #fd4f3c;
}
.fa-python-ico:hover {
  background: linear-gradient(45deg, #ffe872, #4ab7bf, #4a8dbf);
  color: #fff;
  box-shadow: 0 0 15px #ffe872, 0 0 45px #4ab7bf, 0 0 75px #4a8dbf,
    0 0 115px #ffe872;
}
.fa-html5-ico:hover {
  background-color: #df9321;
  color: #fff;
  box-shadow: 0 0 15px #df9321, 0 0 45px #df9321, 0 0 75px #df9321,
    0 0 115px #df9321;
}
.fa-js-ico:hover {
  background-color: #da6901;
  color: #fff;
  box-shadow: 0 0 15px #da6901, 0 0 45px #da6901, 0 0 75px #da6901,
    0 0 115px #da6901;
}
.fa-css3-ico:hover {
  background-color: #0cf;
  color: #fff;
  box-shadow: 0 0 15px #0cf, 0 0 45px #0cf, 0 0 75px #0cf, 0 0 115px #0cf;
}
.fa-github-ico:hover {
  background: linear-gradient(45deg, #0cf, #ff69b4, #32cd32);
  color: #fff;
  box-shadow: 0 0 15px #0cf, 0 0 45px #ff69b4, 0 0 75px #32cd32, 0 0 115px #0cf;
}
.fa-square-whatsapp-ico:hover {
  background-color: #22d473;
  color: #fff;
  box-shadow: 0 0 15px #22d473, 0 0 45px #22d473, 0 0 75px #22d473,
    0 0 115px #22d473;
}
.fa-linkedin-ico:hover {
  background-color: #0274b3;
  color: #fff;
  box-shadow: 0 0 15px #0274b3, 0 0 45px #0274b3, 0 0 75px #0274b3,
    0 0 115px #0274b3;
}
.fa-envelope-ico:hover {
  background-color: #006dbe;
  color: #fff;
  box-shadow: 0 0 15px #006dbe, 0 0 45px #006dbe, 0 0 75px #006dbe,
    0 0 115px #006dbe;
}
.fa-file-lines-ico:hover {
  background-color: #aaa;
  color: #fff;
  box-shadow: 0 0 15px #aaa, 0 0 45px #aaa, 0 0 75px #aaa, 0 0 115px #aaa;
}
.fa-bootstrap-ico:hover {
  background-color: #7011ef;
  color: #fff;
  box-shadow: 0 0 15px #7011ef, 0 0 45px #7011ef, 0 0 75px #7011ef,
    0 0 115px #7011ef;
}
.card {
  flex: 50%;
  margin-right: 40px;
  margin-left: 30px;
  margin-bottom: 30px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  transition: transform 0.3s;
  border-radius: 10px;
}
.tecnologias,
.up {
  margin-right: 5px;
  margin-bottom: 5px;
  color: #fff;
  font-size: 16px;
  font-family: "Sharp Sans Extrabold", sans-serif;
}
.card:hover {
  transform: scale(1.04);
}
.card .contenido {
  flex-shrink: 1;
}
.tecnologias {
  --hover: #552277;
  display: inline-flex;
  background-color: #202834;
  transition: box-shadow 0.3s, transform 0.3s;
  border-radius: 15px;
  padding: 9px 20px;
}
.tecnologias:hover {
  box-shadow: 0 0.6em 0.5em -0.4em var(--hover);
  -webkit-transform: translateY(-0.25em);
  transform: translateY(-0.25em);
}
.up {
  --hover: white;
  border-radius: 32px;
  background-color: #000;
  transition: box-shadow 0.5s, color 0.5s;
  overflow: auto;
  padding: 12px 26px;
}
.up:focus,
.up:hover {
  box-shadow: inset 0 -3.25em 0 0 var(--hover);
  color: #000;
  transition: box-shadow 0.3s ease-in-out, color 0.3s ease-in-out;
}
.img-contenido {
  width: auto;
  height: auto;
  border-radius: 20px;
  margin-top: 15px;
  margin-bottom: 10px;
  align-items: center;
  max-width: 600px;
}
.cards {
  margin-top: 15px;
  margin-bottom: 15px;
  display: flex;
}
.text-pro {
  font-family: "Sharp Sans Extrabold", sans-serif;
  font-size: 28px;
}
.dots {
  display: inline-flex;
  gap: 5px;
}
.dot {
  opacity: 0;
  transition: opacity 0.3s;
}
@media (max-width: 1380px) {
  .profile-picture {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }
  .content-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
  }
  .description-text {
    font-size: 24px;
    padding-left: 30px;
    padding-right: 30px;
  }
}
@media screen and (max-width: 768px) {
  .tec,
  .title {
    text-align: center;
  }
  .cards,
  .content {
    flex-direction: column;
  }
  .botones-alineacion,
  .tec {
    display: flex;
    flex-direction: column;
  }
  .main-title {
    font-size: 40px;
  }
  .profile-img {
    margin-bottom: 15px;
    width: 200px;
    height: 200px;
    object-fit: cover;
  }
  .container {
    padding: 15px;
  }
  .botones-alineacion {
    font-size: 12px;
    margin: 10px;
  }
  .descripcion,
  .descripcion-pro,
  .text {
    font-size: 12px;
  }
  .card {
    margin: 15px;
  }
  .subtitulo {
    font-size: 13.5px;
  }
  .tec {
    font-size: 15px;
  }
  .text-pro {
    font-size: 14px;
  }
  .profile-picture {
    position: relative;
    top: 0;
    left: 0;
    transform: none;
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
  }
  .content-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 10px;
  }
  .description-text {
    font-size: 12px;
    padding-left: 0;
    padding-right: 0;
    text-align: left;
  }
  .img-fondo {
    width: 100%;
    height: auto;
    max-width: 390px;
    padding: 50px 20px;
  }
  .tecnologias {
    font-size: 12px;
    padding: 8px 20px;
  }
  .img-contenido {
    width: auto;
    height: 130px;
  }
}
@font-face {
  font-family: "Sharp Sans";
  src: url url("../fonts/Sharp Sans.otf") format("opentype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Sharp Sans Extrabold";
  src: url("../fonts/Sharp Sans Extrabold.otf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: YaroSt-Black;
  src: url("../fonts/YaroSt-Black.ttf") format("opentype");
  font-weight: 700;
  font-style: normal;
}
