

 /* Scroll */
html {
  scroll-behavior: smooth;
}


/* Color de fondos */
section {
  padding: 2em 1em;
  text-align: center;
}

#about {
  background-color: #050031;
}

#projects {
  background-color: #050031;
}

#contact {
  background-color: #050031;
}


/* Project Styles  borrar despues*/
.project {
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 1em;
  width: 300px;
}

.project img {
  max-width: 100%;
  border-radius: 5px;
}













/* Mobile Styles */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .header {
    flex-flow: row wrap;
    text-align: center;
  }

  .header .logo {
    flex: 1 1 100%;
    text-align: center;
    margin-bottom: 10px;
  }

  .nav-links {
    display: flex;
    flex: 1 1 100%;
    justify-content: center;
  }

  .nav-links a {
    margin: 0 10px;
    text-align: center;
  }

  .main-content {
    flex-direction: column;
  }

  .main-content .text,
  .main-content .me {
    max-width: 100%;
    text-align: center;
  }

  .main-content h1 {
    font-size: 1.8em;
  }

  .main-content button {
    width: 100%;
    padding: 10px;
  }

  .programming-languages-bar {
    flex-direction: column;
  }

  .language {
    margin-bottom: 10px;
  }

  .language:last-child {
    margin-bottom: 0;
  }
}

/*cambiar el color al boton cuando tenga un tema oscuro en la pc o movil
 @media screen and (prefers-color-scheme:dark){
  
  .main-content button:hover {
    background-color: #74e066;
    transition: background-color 0.3s ease;

}
}
*/